@import '../../sass/_config.scss';

.card-holder {
  cursor: pointer;
  padding-right: 10px !important;
  position: relative;
}
.flip-card {
  background-color: transparent;
  float: left;
  height: 0;
  margin: 0 0 15px 0;
  opacity: 1;
  padding-top: 150%;
  perspective: 1000px;
  position: relative;
  transition: opacity 3s;
  width: 100%;

  &.matched {
    animation-name: pulse_animation;
    animation-duration: 3000ms;
    transform-origin:70% 70%;
    animation-timing-function: linear;
    opacity: .25;
    transition-delay: 3s;
  }
}

.game-complete {
  .flip-card {
    &.matched {
      opacity: 0;
    }
  }
}

@keyframes pulse_animation {
    0% { transform: scale(1); }
    30% { transform: scale(1); }
    40% { transform: scale(1.08); }
    50% { transform: scale(1); }
    60% { transform: scale(1); }
    70% { transform: scale(1.05); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}

.flip-card-inner {
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  -ms-transform-style: none;
  width: 100%;
}

.flip-card.flipped .flip-card-inner {
 transform: rotateY(180deg);
 -ms-transform:  rotateY(180deg);
 .flip-card-back {
   -ms-backface-visibility: visible;
 }
}

.flip-card-front, .flip-card-back {
 backface-visibility: hidden;
 height: 100%;
 position: absolute;
 width: 100%;
}

.flip-card-front {
  background-color: $greenBackground;

  img {
    border-radius: 4px;
    height: 100%;
    width: 100%;
  }
}

.flip-card-back {
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  justify-content: center;
  overflow: hidden;
  transform: rotateY(180deg);
  img {
    width: 100%;
  }
}
